<body style="background-color: #f2f2f2";>
<div style='margin:auto; width:80%; background-color:white;border: 1px solid #e3e3e3; text-align:center'> 
  <br>
  <br>
  <br>
  <br>
  <br>
	<h2 class="w3-center" style='text-align:center;'>Olá <%=@pedido.name%></h2>
	<h3 class="w3-center" style='text-align:center;'>Muito obrigado por fazer um projeto conosco!</h3>
	<div class="image-upload w3-center" style='text-align:center;'>
		 <%= image_tag "https://beeprinted-stls.s3.amazonaws.com/Revisao_Bee7.0/Assets/Imagens/Email/logo-opt.png",class: "imageperfil", style: 'height:106px;width:106px;position:relative; cursor:pointer', id:'image-preview' %>
	</div>

	<h3 style='text-align:center;'>Para avaliar o serviço prestado a você, clique no botão abaixo:</h3>
	<br>
	<a href="https://beeprinted.com.br/system/avaliacao?pedido=<%=@pedido.identificador%>" style='border-right:1px solid #ccc;color:white!important; background-color:#009fab;border:none;border-radius:5px;padding:10px 20px; font-weight:700!important'>Formulário</a>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="w3-center">
			<img id="navlogo" src="https://beeprinted-stls.s3.amazonaws.com/uploads/diversas/MARCA-cinza2.png" alt="Logo-Beeprinted" height="40">
		</div>


  <br>
  <br>
</div>
</body>