<br>
<br>
<br>
<div class='container'>

<h1>Política de Troca e Devolucão de Produtos</h1>
  
<h3>1. Identificação</h3>   

<p>Este site é de propriedade, mantido, e operado por BEEPRINTED, com endereço na EQN 406/407, Edifício Salim Bittar*, Sl. 124, Asa Norte, Brasília, DF 70847-400, inscrita no CNPJ/MF sob o número 28.138.433/0001-27, com Inscrição Estadual nº 53-8-0178500-0.</p>

<h3>2. Contato – CALM (Central de Atendimento BEEPRINTED)</h3>   

<p>Caso o Usuário necessite de qualquer informação, esclarecimento ou atendimento com relação a esta Política de Troca e Devolução de Produtos, a BEEPRINTED disponibiliza o CALM para receber todas as comunicações que o Usuário desejar fazer. O CALM opera por meios dos canais de comunicação listados abaixo: (a) Presencialmente, no escritório da BEEPRINTED, durante os horários de funcionamento; (b) Pelos telefone 61 9 9996-0874, segunda a sexta das 08h00 às 22h00 e sábados, domingos e feriados das 09h00 às 20h00; (c) Pelo email contato@beeprinted.com.br à qualquer horário; (d) Por correspondência endereçada à BEEPRINTED, EQN 406/407, Edifício Salim Bittar*, Sl. 124, Asa Norte, Brasília, DF 70847-400, sempre acompanhada das informações de contato do consumidor, para que possamos finalizar o atendimento. Em todos os casos, o Usuário receberá, pelo mesmo canal de comunicação, uma confirmação imediata do recebimento da sua demanda, que será tratada e respondida em um prazo máximo de 5 (cinco) dias. Além disso, a BEEPRINTED disponibiliza neste Site a Política de Privacidade e os Termos e Condições de Uso deste Site.</p>   

<h3>3. Modalidades</h3> 

<p>Em atendimento à legislação de proteção e defesa do consumidor, a BEEPRINTED disponibiliza 2 (duas) modalidades de troca ou devolução de produtos: (i) por arrependimento do consumidor; e (ii) por defeito do produto (vício).</p>   

<h3>4. Devolução por arrependimento do Cliente (no prazo legal)</h3>   

<p>Caso se arrependa de uma compra realizada no Site, o Cliente poderá informar à BEEPRINTED por meio do CALM (Central de Atendimento BEEPRINTED) e requerer a devolução do produto e o cancelamento da compra. O Cliente terá 7 (sete) dias corridos, contados da data de recebimento do Produto, para informar seu arrependimento. Se este prazo terminar em um sábado, domingo ou feriado, o Cliente poderá exercer o seu direito de arrependimento até o primeiro dia útil subsequente. O exercício do direito de arrependimento será processado da seguinte forma:</p>

<p><strong>4.1. Contato com o CALM.</strong> Para exercer seu direito legal de arrependimento, o Cliente deverá contatar o CALM (Central de Atendimento BEEPRINTED) a fim de solicitar o cancelamento da Compra. É importante que o Cliente informe neste contato o nome completo do Produto, além de confirmar seus dados pessoais.</p>

<p><strong>4.2. Envio do produto à BEEPRINTED.</strong> O Cliente terá duas opções para a devolução do produto à BEEPRINTED: (a) entregando-o no escritório da BEEPRINTED com compravante de aquisição; ou, (b) enviando-o à BEEPRINTED por correio. Neste caso, bastará solicitar ao CALM (Central de Atendimento BEEPRINTED) um código de postagem e comunicá-lo aos Correios no ato do envio.Excepcionalmente, a BEEPRINTED poderá, a seu exclusivo critério, retirar o Produto em local indicado pelo Cliente, mediante prévio agendamento.</p> 
<p><strong>4.3. Condições do produto.</strong> Ao receber o Produto, a BEEPRINTED verificará se o mesmo está em condições adequadas, ou seja, se está sem indícios de testes, provas ou uso.</p> 
<p><strong>4.4. Negativa do arrependimento.</strong> Caso o Produto não esteja em condições adequadas conforme descrito acima, a [NOME DA SUA EMPRESA AQUI] notificará o Cliente para informar que o direito ao arrependimento não poderá ser exercido, devendo o Cliente retirar o Produto em questão ou arcar com os custos de frete para nova entrega do Produto.</p> 
<p><strong>4.5. Devolução dos valores pagos.</strong> Caso o Produto esteja em condições adequadas, a BEEPRINTED notificará o Cliente informando que aceitou o Produto devolvido e providenciará a devolução integral dos valores pagos pelo Cliente para a aquisição do Produto, incluindo o preço e os custos com o frete. Se o arrependimento ocorrer com relação a apenas um dos itens adquiridos ou alguns Produtos constantes de um pedido, a devolução dos custos de frete será proporcional. A devolução de pagamentos feitos por cartão de crédito será realizada por meio de estorno do lançamento, a ser solicitado pela BEEPRINTED à administradora do cartão utilizado em, no máximo, 72 (setenta e duas) horas após a aceitação e validação das condições do produto devolvido. O prazo de efetivação do estorno é de exclusiva responsabilidade da administradora do cartão e será realizada de acordo com as regras e condições dessa empresa.</p>   

<h3>5. Devolução por arrependimento do Cliente (fora do prazo legal)</h3>   

<p>Além dos 7 (sete) dias previstos no Código de Defesa do Consumidor, a BEEPRINTED permite ainda o cancelamento de compras em até 30 (trinta) dias corridos contados da data de recebimento do Produto. Neste caso, são aplicáveis todas as condições indicadas no item 4 acima, todavia o Cliente deverá arcar com os custos de envio do Produto à BEEPRINTED, seja apresentando-se pessoalmente em uma loja física, seja enviando o Produto pelos Correios.</p>   

<h3>6. Devolução ou Troca por defeito no produto (em até sete dias)</h3>   

<p>Se o Produto adquirido no Site apresentar algum defeito ou avaria, o Cliente poderá solicitar a sua devolução ou troca por meio do CALM (Central de Atendimento BEEPRINTED). O Cliente terá 7 (sete) dias corridos, contados da data de recebimento do produto, para informar a existência do defeito e requerer a troca ou a devolução. Se este prazo terminar em um sábado, domingo ou feriado, o Cliente poderá reportar a existência do defeito até o primeiro dia útil subsequente. A análise do pedido de troca ou devolução será processada da seguinte forma:</p> 
<p><strong>6.1. Contato com o CALM.</strong> O Cliente deverá contatar o CALM (Central de Atendimento BEEPRINTED) a fim de informar a existência do defeito. É importante que o Cliente informe neste contato o nome completo do Produto e o defeito apresentado, além de confirmar seus dados pessoais. </p>
<p><strong>6.2. Envio do Produto à BEEPRINTED.</strong> O Cliente terá duas opções para a devolução do produto à BEEPRINTED: (a) entregando-o no escritório da BEEPRINTED com comprovante de aquisição; ou, (b) enviando-o à BEEPRINTED por correio. Neste caso, bastará solicitar ao CALM (Central de Atendimento BEEPRINTED) um código de postagem e comunicá-lo aos Correios no ato do envio. Excepcionalmente, a BEEPRINTED poderá, a seu exclusivo critério, retirar o Produto em local indicado pelo Cliente, mediante prévio agendamento. </p>
<p><strong>6.3. Condições do produto.</strong> Ao receber o Produto, a BEEPRINTED verificará as suas condições, sendo que: (i) o defeito apresentado deverá corresponder à descrição feita pelo Cliente; e (ii) o produto não deve ter sinais de mau uso pelo Cliente. </p>
<p><strong>6.4. Negativa da troca ou devolução.</strong> Se o Produto não preencher as condições para troca ou devolução, a BEEPRINTED notificará o Consumidor para retirar o Produto em questão ou para arcar com os custos de frete para nova entrega do Produto. </p>
<p><strong>6.5. Aceitação da troca ou devolução.</strong> Caso o Produto esteja em condições adequadas, a BEEPRINTED notificará o Cliente a aceitação e validação das condições do produto devolvido e permitirá que o Cliente opte pelo (i) envio de produto idêntico, de mesma marca, linha, modelo e versão, sem qualquer custo adicional ou (ii) emissão de um Vale Compras no valor total do pagamento feito pelo Cliente (incluindo preço do produto e frete) para utilização em compras futuras no site da BEEPRINTED ou pelo CALM. Havendo indisponibilidade do Produto a ser trocado, o Cliente poderá optar: (i) pelo crédito no valor total do pagamento (incluindo preço do produto e frete) para utilização em compras futuras; (ii) pela troca imediata por qualquer Produto disponível na BEEPRINTED, com compensação em caso de diferença no preço; (iii) pela devolução do valor do produto, nos termos do item 4.5 acima. </p> 

<h3>7. Devolução ou Troca por defeito no produto (após mais de sete dias)</h3>  

<p>Após o prazo de 7 (sete) dias para devolução ou troca de produto defeituoso diretamente pela BEEPRINTED, o Cliente deverá se valer da garantia fornecida pelo fabricante, nos termos do certificado de garantia que acompanha o Produto. De qualquer forma, o CALM (Central de Atendimento BEEPRINTED) auxiliará o Cliente na localização dos serviços de assistência técnica dos fabricantes.</p>

<h3>8. Cuidados e Conservação das peças:</h3>
 
<p><strong>8.1.</strong> Os produtos são produzidos através de uma impressora 3D e finalizados de forma artesanal.</p>
<p><strong>8.2.</strong> As peças podem sofrer alteração caso sejam expostas a altas temperatura  ou diretamento ao sol por longo períodos.</p>
<p><strong>8.3.</strong> As peças podem ser lavadas com sabonetes, detergentes, ou produtos similares, caso não sejam pintadas.</p>
<p><strong>8.4.</strong> Evitar contato com cremes, pomadas ou produtos similares.</p>
<p><strong>8.5.</strong> Não garantimos quebra, arranhões, desgates naturais pelo uso ou manchas por alguma das substâncias citadas acima.</p>
<p><strong>8.6.</strong> As peças são resistemtes a água, caso não sejam pintadas.</p>
<p><strong>8.7.</strong> Em comprovado defeito de fabricação a peça será substituída.</p>
<p><strong>8.8.</strong> Para limpeza de peças pintadas utilizar um pano seco.</p> 
<p><strong>8.9.</strong> Seu produto pode apresentar linhas e marcas de suporte, ou penugem , características da Impressão 3D.</p>
</div>
<br>
<br>
<br>