<div class="content">
        <h3>Jobs em aberto</h3>
        <hr>
            <div class="animated fadeIn">
                <div class="row">
                  <%if @abertos.any?%>
                  <%@abertos.all.each do |aberto|%>
                    <%= render 'job_card', job: aberto %>
                  <%end%>
                  <%else%>
                    <div class='content'><p>Não existe nenhum Job em aberto no momento. Fique atento a novos Jobs</p></div>
                  <%end%>
                </div><!-- .row -->
            </div><!-- .animated -->
        </div><!-- .content -->