<div class="content">
        <h3>Jobs a serem analisados</h3>
        <hr>
            <div class="animated fadeIn">
                <div class="row">
                  <%if @analisados.any?%>
                  <%@analisados.all.each do |analisado|%>
                    <%= render 'job_card', job: analisado %>
                  <%end%>
                  <%else%>
                    <div class='content'><p>Não existe nenhuma oferta de Job para você no momento. Fique atento a novos Jobs</p></div>
                  <%end%>
                </div><!-- .row -->
            </div><!-- .animated -->
        </div><!-- .content -->