<div class="content">
        <h3>Jobs Aprovados</h3>
        <hr>
            <div class="animated fadeIn">
                <div class="row">
                  <%if @aprovados.any?%>
                  <%@aprovados.all.each do |aprovado|%>
                    <%= render 'job_card', job: aprovado %>
                  <%end%>
                  <%else%>
                    <div class='content'><p>Não existe nenhum Job aprovado no momento. Fique atento a novos Jobs</p></div>
                  <%end%>
                </div><!-- .row -->
            </div><!-- .animated -->
        </div><!-- .content -->