<div class="content">
  <div class="animated fadeIn">
    <div class="row">
<%= render 'form', job: @job %>

</div>
<div class="row">
    <div class="card" style='width:100%'>
        <div class="card-header">
          <strong>Excluir </strong>o Job
        </div>
        <div class="card-body card-block">
            <div class="row form-group mx-auto d-block text-sm-center">
              <%= button_to "Excluir Job", job_path(@job), method: :delete, class:'external btn btn-danger btn-sm text-sm-center', data: { confirm: "Você tem certeza que quer excluir esse projeto?" }%>

            </div>
        </div>
    </div>
</div>
</div>
</div>
