<div class="content">
        <h3>Meus Jobs em Aberto</h3>
        <hr>
            <div class="animated fadeIn">
                <div class="row">
                    <%if @aceitos.any?%>
                    <%@aceitos.all.each do |aceito|%>
                        <%= render 'job_card', job: aceito %>
                    <%end%>
                    <%else%>
                        <div class='content'><p>Você não possui nenhum Job em aberto no momento. Fique atento a novos Jobs</p></div>
                    <%end%>

                </div><!-- .row -->
            </div><!-- .animated -->
        </div><!-- .content -->

        <div class="content">
        <h3>Meus Jobs Concluídos</h3>
        <hr>
            <div class="animated fadeIn">
                <div class="row">
                    <%if @dones.any?%>
                    <%@dones.all.each do |done|%>
                        <%= render 'job_card', job: done %>
                    <%end%>
                    <%else%>
                        <div class='content'><p>Você não possui nenhum Job concluído no momento. Fique atento a novos Jobs</p></div>
                    <%end%>

                </div><!-- .row -->
            </div><!-- .animated -->
        </div><!-- .content -->