<div class="content">
        <h3>Jobs Reprovados</h3>
        <p style='color:red'>Por favor, reenvie os arquivos</p>
        <hr>
            <div class="animated fadeIn">
                <div class="row">
                  <%if @reprovados.any?%>
                  <%@reprovados.all.each do |reprovado|%>
                    <%= render 'job_card', job: reprovado %>
                  <%end%>
                  <%else%>
                    <div class='content'><p>Não existe nenhum Job em reprovado no momento.</p></div>
                  <%end%>
                </div><!-- .row -->
            </div><!-- .animated -->
        </div><!-- .content -->