<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @orcamento.description %>
</p>

<%= link_to 'Edit', edit_orcamento_path(@orcamento) %> |
<%= link_to 'Back', orcamentos_path %>
