<style>
#cta p {
	color:#616161;
}
a:hover{
    text-decoration: none;
}

.col-md-6 {
	margin-top:15px;
}

@media (min-width: 992px){
.col-md-6 {
    padding-left:5px;
    margin-top: 0px;
}

#cta{
	min-height:60vh;
}

.container-bee{
	margin-top:80px;
}

}

.card{
	height:280px;
}


</style>


<br>
<br>
<br>
<br>
<section id='cta' style='margin-left:10px;margin-right:10px;'>
  <div class='container container-bee w3-center' style='margin-bottom:80px;'>
	<div class='row'> 
	<div class='col-md-6'>
		<a href=<%=new_orcamento_path%>>
		<div class='card' style='width:100%;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);background-color:white;padding:10px;'>
			<i class="fa fa-user iconBig" style='font-size:60px;color:#009FAB;'></i>
			<h3 style='color:#009fab'><strong>Atendimento Pessoal</strong></h3>
			<p><strong>Tire seus projetos do papel usando impressão 3D</strong></p>
			<p class='text-left'>Envie os seus arquivos 3D na extensão STL ou OBJ e receba uma cotação.</p> 
	        <br>
		    <br>
		</div>
		</a>
	</div>
	<div class='col-md-6'>
		<a href=<%=new_modeling_path%>>
		<div class='card' style='box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);background-color:white;padding:10px;'>
		    <i class="fa fa-suitcase iconBig" style='font-size:60px;color:#009FAB;'></i>
					<h3 style='color:#009fab'><strong>Atendimento Corporativo</strong></h3>
					<p><strong>Soluções personalizadas para encantar os seus clientes!</strong></p>
					<p class='text-left'>Desenvolva conosco o seu projeto, troféu ou brinde corporativo.</p>
		      <br>
		      <br>
		</div>
		</a>
	</div>
	</div>
  </div>
</section>
