<div class='container' style="margin-top:90px">
	<div class='row w3-center'>
	<h2 class="">Error 404</h2> 
	<h2 class="">A página que você procura não existe :(</h2>
	<br>
	<br>
	<img id="logo" src="https://s3.amazonaws.com/beeprinted-stls/uploads/diversas/LOGO-claro.png" class="img-responsive text-center" alt="shop logo" width="150" style="margin:auto">
	<br>
	<h3 class="">Você pode ter escrito o endereço errado</h3>
     <h3>ou a página pode ter mudado.</h3> 
	</div>
</div>
            <br>
            <br>
            <br>
                        <br>
            <br>
            <br>
<style>
#logo{
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Safari 3-8 */
    transform: rotate(30deg);
   }
</style>
