<div class="content">
        <h3>Instruções</h3>
        <hr>
            <div class="animated fadeIn">
                <div class="row">
                <p>Página de instruções ainda em desenvolvimento. Qualquer dúvida entrar em contato em contato@beeprinted.com.br
                </div>
            </div>
</div>