        <div class="content">
        <h3>Minha Produção</h3>
        <hr>
            <div class="animated fadeIn">
                <div class="row">
                  <%if @producao.any?%>
                  <%@producao.each do |job|%>
                    <%= render 'job_card', job: job %>
                  <%end%>
                  <%else%>
                    <div class='content'><p>Não existe nenhuma oferta de Job para você no momento. Fique atento a novos Jobs</p></div>
                  <%end%>
                </div><!-- .row -->
            </div><!-- .animated -->
        </div><!-- .content -->