<script src="https://s3.amazonaws.com/beeprinted-stls/Revisao_Bee7.0/Assets/JS/Blogs/ckeditor.js"></script>
<style>
#cke_blog_body{
  width:66.666666666666% !important;
  margin:auto;
}
</style>
<div class='container'>
<br>
<br>
	<h2>Criar Novo Artigo</h2>

	<%= render "manual/form" %>
	<br>
	<br>
</div>