<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>

  <title>Plataforma de Modelagem | BEEPRINTED</title>
    <meta charset=utf-8>
    <meta name="msvalidate.01" content="C2730C7A271697BA8A0F86E1ED368E39" />
    <meta http-equiv="Content-Language" content="pt-br">
    <meta name=title content="Plataforma de Modelagem | BEEPRINTED" />
    <meta name=robots content="index, follow">
    <meta name=description content="Plataforma foca em modelagem digital de objedos 3D direcionados à impressão 3D. Comunidade internacional de designers e modeladores.">
    <meta name=keywords content="modelagem 3D, impressão 3D, prototipagem, modelos 3D, tecnologia, imprima 3D, impressora 3D, imprimir 3D, Brasília, DF, Distrito Federal" />
    <meta name=author content=BEEPRINTED.COM.BR>
    <meta name=viewport content="width=device-width, initial-scale=1.0" />
    <meta content="ie=edge, chrome=1" http-equiv=x-ua-compatible/>
    <meta name=google-site-verification content=oJ2PyR9oaNsdWXxDUnY615E3gLjjO2Q2ZQEySMCC4IY/>
    <meta property="og:title" content="Plataforma de Modelagem | BEEPRINTED" />
    <meta property="og:description" content="Plataforma foca em modelagem digital de objedos 3D direcionados à impressão 3D. Comunidade internacional de designers e modeladores." />
    <meta property="og:image" content="https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:url" content="https://modeling.beeprinted.com.br" />
    <meta property="og:site_name" content="BEEPRINTED" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="fb:app_id" content="187082005107883" />
    <meta name=twitter:card content=summary/>
    <meta name=twitter:title content="Plataforma de Modelagem | BEEPRINTED">
    <meta name=twitter:description content="Plataforma foca em modelagem digital de objedos 3D direcionados à impressão 3D. Comunidade internacional de designers e modeladores.">
    <meta name=twitter:image content=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png>
    <meta name=twitter:site content=https://modeling.beeprinted.com.br>
    <meta name=twitter:url content=https://modeling.beeprinted.com.br>
    <meta name=twitter:locale content=pt_BR>
    <link rel=canonical href=https://modeling.beeprinted.com.br/>
    <link rel=shortlink href=https://modeling.beeprinted.com.br/>
    <link rel=revision href=https://modeling.beeprinted.com.br/>
    <link rel="shortcut icon" href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png sizes=32x32 type="image/png" />
    <link rel=apple-touch-icon-precomposed href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png type="image/png" />
    <link rel=apple-touch-icon-precomposed sizes=72x72 href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png type="image/png" />
    <link rel=apple-touch-icon-precomposed sizes=120x120 href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png type="image/png" />
    <link rel=apple-touch-icon-precomposed sizes=152x152 href=https://ds76otpcq42vd.cloudfront.net/uploads/diversas/LOGO-claro.png type="image/png" />


  <link rel="stylesheet" href="https://ds76otpcq42vd.cloudfront.net/Plataforma/Sign_In/Assets/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://ds76otpcq42vd.cloudfront.net/Plataforma/Sign_In/Assets/CSS/util.css">
  <link rel="stylesheet" type="text/css" href="https://ds76otpcq42vd.cloudfront.net/Plataforma/Sign_In/Assets/CSS/main.css">
<!--===============================================================================================-->
</head>
<body style="background-color: #656565;">
  
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">



      <%=yield%>

        <div class="login100-more" style="background-image: url('https://beeprinted-stls.s3.amazonaws.com/Plataforma/Sign_In/Assets/Images/thierre_no_pc.jpg')">
          <div class="pos-a centerXY" style='position: absolute; top:50%;left:50%;transform: translate(-50%,-50%)'>
            <div class="bgc-white bdrs-50p pos-r" style="width:120px;height:120px; background-color:white;border-radius:50%;position:relative">

              <img class="pos-a centerXY" data-cfsrc="assets/static/images/logo.png" alt="" src="https://beeprinted-stls.s3.amazonaws.com/Plataforma/Sign_In/Assets/Images/logo_sign_in.png" style='width:80px;position:absolute; top:50%;left:50%;transform: translate(-50%,-50%)'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

  
  
<!--===============================================================================================-->
  <script src="https://ds76otpcq42vd.cloudfront.net/assets/Nova/assets/js/jquery-2.2.4.min.js"></script>

  <script src="https://ds76otpcq42vd.cloudfront.net/Plataforma/Sign_In/Assets/js/main2.js"></script>
<!--===============================================================================================-->

</body>
</html>

