<style>
.radio_buttons{
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  color:#616161;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio_buttons input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}


.radio_buttons input:checked ~ .checkmark {
  background-color: #009fab;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio_buttons input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio_buttons .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}



.filtro-btn-azul{
  background-color:#009FAB;
  color:white;
  cursor: pointer;
  border:none;
  border-radius: 5px;
  padding: 10px 20px;
}
</style>
<style>
.mySlides {display:none}
@media (min-width: 480px) {
  .container-bee{
    padding-left:100px;
    padding-right:100px;
  }
  .orcabee{
    width:20%;
  }
}

@media (max-width: 480px) {
  .filtro-btn-azul{
    font-size:12px;
    padding: 10px 10px;
  }
  .preco-padding{
    padding-right:35px !important;
  }
  .w3-container{
    padding:0px !important;
  }
  #carrinho{
    width:100% !important;
  }
  .width_foto{
    width:20% !important;
  }
  .validade{
    width: 50% !important;
  }
  .mySlides{
    height:230px !important;
  }
  #preco_mobile{
    display: block !important;
  }
  .fotinha{
     height: 60px !important;
  }
  #info_prin{
    width:50% !important;
  }
  #excluir{
    padding: 25px 0 !important;
  }
}
.well{
  background-color:white !important;
}
.fotinha{
  overflow:hidden;
  height: 120px;
  width:22%;
  display: inline-block;
  position:relative;
  border:1px solid #bfbfbf;
  background-color:white;
}
.degrade {
  transition: 0.5s !important;
  background-size: 200% auto !important;
  background-image: linear-gradient(to right, #009fab 0%, #3F315D 51%, #009fab 100%) !important
}
             
.degrade:hover {
  background-position: right center !important
  color:white !important;
}


.info-compra{
  list-style:none;float:left;width:50%;box-sizing:border-box
}

</style>
<br>
<br>
<br>
<br>
<section style='margin-left:10px;margin-right:10px'>
  <div class='container container-bee w3-center' style='background-color:white; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);margin-bottom:80px;'>
    <i class="fa fa-check-circle-o iconBig" style='font-size:60px;color:#009FAB;'></i>
    <br>
    <h1 style='color:#616161'><strong>Muito Obrigado!</strong></h1>
    <h4 style='margin-top:20px'>Agradecemos pela confiança e por ser um cliente BEEPRINTED!</h4>
    <hr>
    <p style='margin-top:20px'>De 0 a 10 qual a probabilidade de você recomendar a BEEPRINTED para outras pessoas?</p>
    <%=form_for(@pedido, :url => { :action => :update, id: @pedido.identificador}) do |f|%>
      <div class="card-body card-block form-inline">
        <br>
        <div class="form-group" style='margin-left:10px'>
          <%= f.collection_radio_buttons :avaliacao, {'0':0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9, '10': 10 }, :last, :first, { item_wrapper_tag: false }, {checked: '5'} do |b| %>
          <label class='radio_buttons'>
            <%=b.radio_button(:class => "collection_radio_buttons") + b.label(:class => "collection_radio_buttons", style:'padding-right: 20px')%>
            <span class="checkmark"></span>
          </label>
          <%end%>
        </div>
      </div>
      <br>
      <div class="" style='margin-top:30px;width:100%'>
        <%=f.submit "Enviar", style:"border-right:1px solid #ccc;color:white!important", class:"filtro-btn-azul degrade font-bold" %>
      </div>
    <%end%>
      <br>
      <br>
      <br>
  </div>
</section>